.pane
	.container.pvm
		%h2.em-max.type-neutral-2 Configure New SSL Connection
.container
	.mtxl
		%h3.em-high 1. Upload certificate
		.mbxxl Please provide the following information in order to set up your new SSL connection.
	.row
		.col-sm-10
			.panel.bg-neutral-11.paxl
				xxijoaeth_432r4.zip
				%a.pll.txt-r{:href => "new"} Change
	.mtxxl
		%h3.em-high.mtm 2. Provide Key
		.mbxxl Please provide the following information in order to set up your new SSL connection.
	.row
		.col-sm-10
			.panel.bg-neutral-11.paxl
				xxijoaeth_432r4.key
				%a.pll.txt-r{:href => "new"} Change
	.row
		.col-sm-7
			%a.btn.btn-highlight.mtxxl{:href=>"progress"} Submit
