.container
	.mtxl
		.row
			.col-xs-24.col-sm-15
				%h2.em-high Include an intermediate chain file
				.mbxxl To ensure that security is set up on all devices, we need to establish a complete security chain. You have uploaded a .crt from an issuer for which we do not have an intermediate chain file. Please contact your issuer to obtain this file and upload it here.
	%form{:role => "form"}
		.form-group
			.row
				.col-xs-24.col-sm-5
					%label.mtxl{:for => "CertificateAuthority"} 
						%abbr.type-error-3{:title =>"required"} *
						Intermediate Chain File
			.row
				.col-sm-7
					%ul.list-unstyled.lvxl.ptxl
						%li
							%a.btn.btn-primary.btn-block{:href=>"/cert-uploaded"} Upload single .crt
						%li
							%a.btn.btn-primary.btn-block{:href=>"/cert-uploaded"} Upload .pem
						%li
							%a.btn.btn-primary.btn-block{:href=>"/cert-uploaded"} Upload .zip
						%li
							%button.btn.btn-primary.btn-block{"data-target" => "#paste-text", "data-toggle" => "modal", :type => "button"} Paste plain text certificate
							#paste-text.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
								.modal-dialog
									.modal-content
										.modal-header
											Paste plain text certificate
											%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
												%span{"aria-hidden" => "true"} &times;
										.modal-body.mal
											.form-group
												%textarea.form-control{:rows=>"8", :placeholder=>"Paste one or multiple certificates then click upload"}
										.modal-footer.mal
											%button.btn.btn-lowlight{"data-dismiss" => "modal", :type => "button"} Cancel
											%a.btn.btn-highlight{:type => "button", :href=>"txt-cert-uploaded"} Upload