.container
	.row
		.col-xs-24.col-sm-16.col-sm-offset-4
			.panel.bg-neutral-11.panel-shadow-3.mtxxl
				.media
					.media-left
						%i.fa.fa-certificate.h1.title.type-warn-2.ptxxl.plxxl.man
					.media-body
						%h2.em-max.ptxxl.mtl.type-dark-1 Certificate successfully uploaded	
				.h4.em-high.phxl.ptxxl CNAME
				.plxxl foo.example.com
				.h4.em-high.phxl.ptxxl Next Steps
				%ol
					%li Go to your Domain Name Service
					%li Associate the CNAME above to an AWS ELB's ARecord
					%li Confirm secure connection
				.plxxl.pbxxl For more information click here