.container
	.mtxl
		.row
			.col-xs-8
				.media
					.media-left
						%i.fa.fa-certificate.h1.type-warn-2
					.media-body
						%h2.em-low.h1.pbn.type-neutral-2 Certificates
			.col-xs-16	
				%a.btn.btn-highlight.pull-right.mtxl{:href => "/new"} 
					%i.fa.fa-plus.prs 
					Upload a new certificate
	%ul.list-group.mtxl
		%li.list-group-item
			%a.link-text *.domain.com
		%li.list-group-item
			%a.link-text *.domain2.com
		%li.list-group-item
			%a.link-text foo.acme.com