.bg-dark-3.pbxxxl.ptxxl
	.container
		.row
			.col-sm-8
				.txt-c
					%h2.h1.title.type-neutral-10.em-max Flows
				.txt-c
					%a.btn.btn-primary.btn-block.mtxl{:href => "/new"} 
						New Certificate (Happy Path)
				.txt-c
					%a.btn.btn-primary.btn-block.mtxl{:href => "/validation-error"} 
						New Certificate (Errors)
				.txt-c
					%a.btn.btn-primary.btn-block.mtxl{:href => "/chainfile"} 
						Chain File not found
				.txt-c
					%a.btn.btn-primary.btn-block.mtxl{:href => "/existing"} 
						Existing Certificate