.pane
	.container.pvm
		%h2.em-max.type-neutral-2 Configure New SSL Connection
.container
	.mtxl
		%h3.em-high 1. Upload certificate
		.mbxxl Please provide the following information in order to set up your new SSL connection. 
	.row
		.col-sm-7
			%ul.list-unstyled.lvxl
				%li
					%a.btn.btn-primary.btn-block{:href=>"/cert-uploaded"} Upload .crt, .pem or .zip file
				%li
					%button.btn.btn-primary.btn-block{"data-target" => "#paste-text", "data-toggle" => "modal", :type => "button"} Paste plain text certificate
					#paste-text.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
						.modal-dialog
							.modal-content
								.modal-header
									Paste plain text certificate
									%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
										%span{"aria-hidden" => "true"} &times;
								.modal-body.mal
									.form-group
										%textarea.form-control{:rows=>"8", :placeholder=>"Paste one or multiple certificates then click upload"}
								.modal-footer.mal
									%button.btn.btn-lowlight{"data-dismiss" => "modal", :type => "button"} Cancel
									%a.btn.btn-highlight{:type => "button", :href=>"txt-cert-uploaded"} Upload
	.mtxxl
		%h3.em-high.mtm 2. Provide Key
		.mbxxl Please provide your private key in order to configure your new SSL connection.
	.row
		.col-sm-7
			%ul.list-unstyled.lvxl
				%li
					%a.btn.btn-primary.btn-block{:href=>"/key-uploaded"} Upload .key
				%li
					%button.btn.btn-primary.btn-block{"data-target" => "#paste-text", "data-toggle" => "modal", :type => "button"} Paste plain text key
					#paste-text.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
						.modal-dialog
							.modal-content
								.modal-header
									Paste plain text key
									%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
										%span{"aria-hidden" => "true"} &times;
								.modal-body.mal
									.form-group
										%textarea.form-control{:rows=>"8"}
								.modal-footer.mal
									%button.btn.btn-lowlight{"data-dismiss" => "modal", :type => "button"} Cancel
									%button.btn.btn-highlight{:type => "button", :href=>"cert-key-uploaded"} Upload
	.row
		.col-sm-7
			%a.btn.btn-primary.disabled.mtxxl Submit